.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #0f0f0f;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: #0f0f0f;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #444444;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}