.combo-box-popup .list-cell{
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #aaaaaa;
    -fx-padding: 5px 10px;
    -fx-font-family: 'Courier New';
    -fx-font-size: 15px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #333333;
    -fx-text-fill: #e8c96d;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: #0f0f0f;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: #0f0f0f;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #2a2a2a;
    -fx-background-radius: 8px;
}

.scroll-bar:horizontal .thumb:hover, .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #444444;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.table-view .column-header-background {
    -fx-background-color: #1a1a1a;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #222222 transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #888888;
    -fx-font-family: 'Courier New';
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: #2a2410;
}

.table-row-cell:selected .text {
    -fx-fill: #e8c96d;
}

.dialog-pane {
    -fx-background-color: #161616;
    -fx-border-color: #252525;
    -fx-border-width: 1;
}

.dialog-pane > *.header-panel {
    -fx-background-color: #1a1a0d;
}

.dialog-pane > *.header-panel > *.label {
    -fx-text-fill: #e8c96d;
    -fx-font-family: 'Courier New';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

.dialog-pane > *.content.label {
    -fx-text-fill: #cccccc;
    -fx-font-size: 15px;
}

.dialog-pane .text-field {
    -fx-background-color: #1a1a1a;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-text-fill: #aaaaaa;
    -fx-font-size: 15px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: #e8c96d;
    -fx-border-color: #2e2e2e;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    -fx-font-size: 15px;
}

.dialog-pane .button-bar .button:default {
    -fx-background-color: #e8c96d;
    -fx-text-fill: #0f0f0f;
    -fx-font-weight: bold;
}